.ticket {
       border: 1px solid pink;  
       border-radius: 14px;
       width: 310px;
       margin: 10px;
       color: rgb(6, 110, 88);
       background-color: rgb(179, 226, 211);   
}
#tik {
       font-size: 20px;
       color: rgb(8, 8, 8);
}